.home
{
    .Bonjour
    {
        margin-top: 2em;
        @import "_effetText";
        img
        {
            width: 100%;
            margin-top: 0em;
        }
    }

        .info
        {
            background-color: #3f3f3f;
            margin-top: 2em;
            width: 100%;
            section
            {
                
            }

        }

}
