nav
{
  ul
  {
    background-color: #080808;
    height: 2em;
    margin-bottom: 0em;
    li
    {
      list-style-type: none;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.5em;
      &:active
      {
        background-color: #1a1a1a;
      }
      &:hover
      {
        background-color: #1a1a1a;
        margin-left: -2em;
      }
      a
      {
        color: #fff;
        text-decoration: none;
        &:hover
        {
          text-decoration: none;
          color: #fff;
        }
        &:active
        {
          text-decoration: none;
          color: #fff;

        }
      }

    }
  }
}
